<h1>Products</h1>
<%= form_tag(products_add_path, :method => :get) do %>
<%= label_tag(:product, "Product Name:") %>
<%= text_field_tag(:product) %>
<%= submit_tag("add to cart") %>
<% end %>

<%=cart%>